body {
  background-color: #F8F7FF;
  text-align: center;
}

.secret {
  opacity: 0.5;
}

.badass{
  font-family: fantasy;
}

ul{
    list-style-type: none;
}

table {
  text-align: center;
}

table, th, td {
  border: 1px solid grey;
}